*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import 'sass-files/header';
@import 'sass-files/navabr';
@import 'sass-files/hero-section';
@import 'sass-files/cards-section';
@import 'sass-files/footer';

// media-querry section

@import 'sass-files/media';