nav {
    background-color: black;
    display: flex;
    width: 100%;
    margin: 0 auto;

    .topbar__svg-and-logo {
        width: 30%;
        display: flex;
        align-items: center;

        .svg {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: white;

            svg {
                background-color: black;
                width: 180px;
            }
        }

        .logo-text {
            width: 80%;

            a {
                text-decoration: none;
                color: white;
                font-weight: 400;
                font-size: 1.6rem;
                font-family: 'GT America Standard', sans-serif;
            }
        }
    }

    .buttons {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;

        .submit {
            width: 240px;
            height: 160%;
            color: white;
            background-color: black;
            border: 1px solid white;
            border-radius: 10px;
            font-weight: bold;
            font-size: 20px;
        }

        .sign-in {
            width: 130px;
            height: 160%;
            border-radius: 10px;
            background-color: #4C5FD5;
            color: white;
            font-size: 25px;
            border: none;
        }
    }

    i.fa-bars {
        display: none;
        color: white;
        font-size: 40px;
        cursor: pointer;
    }
}

.hidden-buttons {
    position: absolute;
    background-color: black;
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        border: none;
        width: 250px;
        height: 50px;
        font-size: 1.2rem;
        padding: 5px;
        font-weight: 800;
        background-color: black;


        &::first-letter {
            font-size: 1.5rem;
        }

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.87);

            &:hover {
                opacity: 0.5;
            }

        }
    }

    .submit-2 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.678);
    }
}